<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Create Client</h2>
            <form (ngSubmit)="onCreateClientSubmit()" #clientForm="ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="clientData.name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="contactInfo">Contact Info</label>
                <textarea id="contactInfo" name="contactInfo" [(ngModel)]="clientData.contactInfo" class="form-control" required></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid">Create Client</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  